{% extends "base.html" %}
{% block title %}
About
{% endblock %}

{% block content %}
<div class="container bg-light text-center w-50">
<h1> About Page</h1>
<p>The BVMHospital laid the foundation of the bvm Hospital & Institute of Health Sciences in 1999. The motive behind establishing this healthcare institution was to serve the local community by providing high-quality but affordable medical treatment for maternity needs and snakebites.
    Our mission was to provide affordable healthcare services to people across Central Kerala. The zeal to take this mission forward saw our 50-bed hospital branch itself into a multispecialty hospital with 600+ beds and 134 ICU beds. Soon, we earned the title of the best hospital in Kerala.

We at bvm Hospital operate on the foundation of two fundamental ideals: charity and the pursuit of excellence. Our team of healthcare professionals considers the patient's well-being as their primary responsibility and strives to provide the best treatment within the shortest possible time at the minimum cost.</p>
</div>
{% endblock %}