{% extends "base.html" %}
{% block title %}
Doctors
{% endblock %}

{% block content %}
<h1 class="text-center">Our Doctors</h1>
<div class="container text-center bg-light">

{% for d in ctext %}
<div class="card text-center mx-3 my-3" style="width: 18rem; display: inline-block;">
    <img src="{{d.doc_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. {{d.doc_name}}</h5>
      <p class="card-text">{{d.doc_spec}}</p>
      <h6>{{d.dep_name}} Department</h6>
    </div>
</div>
{% endfor %}

</div>

<!-- Light blue box -->
<div class="mx-auto w-75 my-5 text-center bg-info text-white p-4 border border-warning rounded" style="height: 400px;">
  <h2 class="text-white">Doctors</h2>
   <ul class="list-unstyled text-white" style="font-size: 40px;">
    <li>Dr. Arun:General Medicine</li>
    <li>Dr. Thomas:General Surgery</li>
    <li>Dr. Anjali:Neurology</li>
    <li>Dr. Sreelakshmi:Pediatrics</li>
  </ul>
</div>

{% endblock %}